<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.waqkz.Inventory">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-feature android:name="android.hardware.camera"></uses-feature>

        <activity android:name=".InventoryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".EditorActivity"
            android:parentActivityName=".InventoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.waqkz.Inventory.InventoryActivity"/>
        </activity>

        <provider
            android:name=".data.InventoryProvider"
            android:authorities="com.waqkz.Inventory.data.InventoryProvider"
            android:exported="false"/>

        <activity android:name=".DetailInventoryActivity"
                  android:parentActivityName=".InventoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.waqkz.Inventory.InventoryActivity"/>
        </activity>
    </application>

</manifest>